/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Oct-2016, 14:16:18
    Author     : pow
*/

.navbar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f85bb+0,4f85bb+100;Blue+3D+%239 */
    background: rgb(79,133,187); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79,133,187,1) 0%, rgba(79,133,187,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
    height: 100px;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 0px;
    
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 50px;
    line-height: 70px;
    align-items: center;
    
    font-family: 'Pacifico', cursive;
}
.navbar-default .navbar-brand {
    color: #ffffff; /*color del logo*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;  /* color de resaltado cuando nos posicionamols en el logo*/
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Droid Sans', sans-serif;
    line-height: 75px;
    padding: 7px;
}


.navbar-default .btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    align-self: center;
    margin: 5px;
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    color: rgb(79,133,187);
    font-size: 18px;
 
}

.navbar-default .btn:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
    
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #000000; /* color de las letras, cuando acercamos el mouse*/
    text-decoration: none;
}

.carousel-inner {
    height: 100%;
    margin-bottom: 60px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 0;
    margin: 0 auto;
    height: 100%;
    width: 50%;
}